<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xogame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".OnePlayer.HardLevelVsComputer"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".OnePlayer.MediumLevelVsComputer"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".OnePlayer.EasyLevelVsComputer"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".TwoPlayers.HardLevel"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".TwoPlayers.MediumLevel"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".TwoPlayers.EasyLevel"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".StartActivities.MainActivity"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".StartActivities.splash"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>